.cybersecurity {
   background-color: black;
   font-size: 40px;
   font-style: italic;
   border-radius: 20px;
   margin-left: 320px;
   margin-right: 320px;
   color: white;
   border: 8px solid #22b5d6;
   padding: 12px 14px;
   text-align: center;
   margin-bottom: 55px;
}

.cybersecurityH {
   background-color: black;
   font-size: 40px;
   font-style: italic;
   border-radius: 20px;
   margin-left: 320px;
   margin-right: 337px;
   color: white;
   border: 8px solid #22b5d6;
   padding: 12px 14px;
   text-align: center;
   margin-bottom: 55px;
}

.tablinkC {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: -15px;
  border: 8px solid #22b5d6;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font: italic;
  border-radius: 20px;
  font-style: italic;
  margin-top: 20px;
  width: 100%;
}

.tablinkC:hover {
  background-color: #22b5d6;
}

.tablinkA {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: -10px;
  border: 8px solid #22b5d6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  font: italic;
  border-radius: 20px;
  font-style: italic;
}

.tablinkA:hover {
  background-color: #22b5d6;
}

.tablinkM {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: -13px;
  border: 8px solid #22b5d6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  font: italic;
  border-radius: 20px;
  font-style: italic;
}

.tablinkM:hover {
  background-color: #22b5d6;
}

.tablinkP {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: -12px;
  border: 8px solid #22b5d6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  font: italic;
  border-radius: 20px;
  font-style: italic;
}

.tablinkP:hover {
  background-color: #22b5d6;
}

.tablinkF {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: -9px;
  border: 8px solid #22b5d6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  font: italic;
  border-radius: 20px;
  font-style: italic;
}

.tablinkF:hover {
  background-color: #22b5d6;
}

.tablinkE {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: -11px;
  border: 8px solid #22b5d6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  font: italic;
  border-radius: 20px;
  font-style: italic;
}

.tablinkE:hover {
  background-color: #22b5d6;
}

.tablinkRES {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: 0px;
  border: 8px solid #22b5d6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  font: italic;
  border-radius: 20px;
  font-style: italic;
}

.tablinkRES:hover {
  background-color: #22b5d6;
}

.tablinkREF {
  background-color: black;
  color: white;
  margin-left: 55px;
  margin-right: -10px;
  border: 8px solid #22b5d6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  font: italic;
  border-radius: 20px;
  font-style: italic;
}

.tablinkREF:hover {
  background-color: #22b5d6;
}

.tab {
  color: white;
  text-align: center;
  width: 80%;
  float: left;
  margin-left: 100px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
  margin-right: 100px;
  }

.def {
  border-color: #22b5d6;
  border: 8px solid #22b5d6;
  border-radius: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  height: 120px;
  margin-left:-6px;
  margin-right: -6px;
  margin-top: 90px;
}

.tab3{
  background-color: black;
  color: red;
  margin-left: 275px;
  margin-right: 95px;
  border: 8px solid green;
  outline: none;
  padding: 14px 16px;
  width: 25%;
  font-size: 25px;
  border-radius: 20px;
  font-style: italic;
}

.about {
  margin-right: 280px;
  border-color: #22b5d6;
  border-width: 5px;
  border-radius: 20px;
  border: 8px solid #22b5d6;
  padding: 5px;
  background-color: black;
  color: white;
  margin-top: 170px;
  margin-left: 280px;
  text-align: center;
  font-size: 16px;
 }

.tabsO {
  color: white;
  text-align: center;
  width: 18%;
  float: left;
  margin-left: 500px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
  }

.tabsMF {
  color: white;
  text-align: center;
  width: 18%;
  float: left;
  margin-left: 500px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
  }

.imageD img{
  float: left;
  margin-top: -413px;
  border: 8px solid #22b5d6;
  border-radius: 20px;
  margin-left: 30px;
}

.aboutM {
  margin-right: 280px;
  border-color: #22b5d6;
  border-width: 5px;
  border-radius: 20px;
  border: 8px solid #22b5d6;
  padding: 5px;
  background-color: black;
  color: white;
  margin-top: 170px;
  margin-left: 280px;
  text-align: center;
  font-size: 16px;
 }

 .imageM img{
  float: left;
  margin-top: -375px;
  border: 8px solid #22b5d6;
  border-radius: 20px;
  margin-left: 30px;
}

 .field {
  color: white;
  text-align: center;
  width: 22%;
  float: left;
  margin-left: 469px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
 }

 .log1 {
  color: white;
  margin-top: 170px;
  border: 8px solid #22b5d6;
  background-color: black;
  border-radius: 20px;
  margin-left: -8px;
  margin-right: -8px;
  padding: 10px;
 }

 .log {
  color: white;
  margin-top: -15px;
  border: 8px solid #22b5d6;
  background-color: black;
  border-radius: 20px;
  margin-left: -8px;
  margin-right: -8px;
  padding: 10px;
 }

 .prophead {
  color: white;
  text-align: center;
  width: 33%;
  float: left;
  margin-left: 409px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
 }

 .prop {
  color: white;
  margin-top: 170px;
  border: 8px solid #22b5d6;
  background-color: black;
  border-radius: 20px;
  margin-left: 260px;
  margin-right: 250px;
  padding: 10px;
 }

 .bib {
  color: white;
  text-align: center;
  width: 34%;
  float: left;
  margin-left: 400px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
  margin-right: 413px;
 }

 .NSA {
  color: white;
  margin-top: 170px;
  border: 8px solid #22b5d6;
  background-color: black;
  border-radius: 20px;
  margin-left: -8px;
  margin-right: -8px;
  padding: 10px;
 }

 .ComSec {
  color: white;
  margin-top: -10px;
  border: 8px solid #22b5d6;
  background-color: black;
  border-radius: 20px;
  margin-left: -8px;
  margin-right: -8px;
  padding: 10px;
 }

.wifi {
  color: white;
  text-align: center;
  width: 13%;
  float: left;
  margin-left: 200px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
}

.RS {
  color: white;
  text-align: center;
  width: 25%;
  float: left;
  margin-left: 125px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 20px;
  border-radius: 20px;
  font-style: italic;
}

.tabsR {
  color: white;
  text-align: center;
  width: 18%;
  float: left;
  margin-left: 500px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
}

.reflection {
  margin-right: 280px;
  border-color: #22b5d6;
  border-width: 5px;
  border-radius: 20px;
  border: 8px solid #22b5d6;
  padding: 5px;
  background-color: black;
  color: white;
  margin-top: 170px;
  margin-left: 280px;
  text-align: center;
  font-size: 16px;
}

.indent {
  margin-left: 40px;
}

.works {
  color: white;
  text-align: center;
  width: 34%;
  float: left;
  margin-left: 400px;
  height: 50px;
  padding: 6px;
  border: 8px solid #22b5d6;
  background-color: black;
  font-size: 40px;
  margin-top: 55px;
  border-radius: 20px;
  font-style: italic;
  margin-right: 413px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.vid1 {
  margin-left: 0px;
  margin-top: 150px;
}